name: Frontend CI/CD
on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
      
    - name: Save Private Key
      run: echo "${{ secrets.EC2_PRIVATE_KEY }}" > private_key.pem

    - name: Set Permissions for Private Key
      run: chmod 600 private_key.pem


    - name: SSH into EC2 and Run Docker Command
      run: ssh -o StrictHostKeyChecking=no -i private_key.pem ${{ secrets.EC2_USERNAME }}@${{ secrets.EC2_HOST }} ' sudo docker stop uptime-kuma && sudo docker rm uptime-kuma && sudo docker run -d --restart=always -p 3001:3001 -v uptime-kuma:/app/data --name uptime-kuma louislam/uptime-kuma:'

